.Rproj.user
.Rhistory
.RData

# RStudio Files
*.Rproj

# Intellig Files
*.iml
*.idea

# Matlab files
*.asv

# Images
*.jpg

# XML
*.xml

# Images
*.png
*.jpg

# Csv
*.csv

# Python
*.pyc

# Scala targets
MundoInterconectado/target/*
MundoInterconectado/project/*
